
@{
    ViewBag.Title = "LoginReturnMsg";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<style>
    form {
        width: 100%;
    }
</style>



<div class="login_bg">

    <section class="container d-flex justify-content-center align-items-center  pb-4 loginBox" style="flex: 1 0 auto;">
        <div class="col-md-6">
            <div class="cs-signin-form mt-5" style="min-height:458px !important; margin-bottom:0px!important;">
                <div class="cs-signin-form-inner" style="background: white;">
                    <div class="cs-view  p-4 show" id="signin-view">
                        <h1 class="h2 p-4 text-center" style=" color: #3f80ea !important">Account Login Failed !  Please white list your pc ip Address </h1>
                       
                        <p style="font-size:19px">
                            <b> Contact us :</b>
                            Mr Bhupinder Garg
                        </p>

                        <p style="font-size:19px">
                            <b> Mobile number :</b>
                            9008790926
                        </p>
                        <div class="w-100 text-center">
                            <a href="@Url.Action("Login","Account")" type="button" class="btn mt-2 btn-primary">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>


</div>











