
.vs/MOD/config/applicationhost.config
.vs/MOD/config/applicationhost.config
*.config
*.user
.vs/MOD/v15/Server/sqlite3/db.lock
.vs/MOD/v15/.suo
.vs/MOD/v15/Server/sqlite3/storage.ide
.vs/MOD/v15/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/MOD/v16/.suo
.vs/MOD/v16/.suo
.vs/MOD/config/applicationhost.config
