.bg-gradient {
    background: #0391b7 !important;
    background: linear-gradient(to right, #0391b7 0%, #0391b7 30%, #0391b7 100%) !important;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    -ms-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.moda {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inter';
    text-shadow: 0px 5px 5px #00000091;
}
.tabHead {
    background: #fbfbfb;
    padding: 10px 10px;
    border-left: 5px solid #0391b7;
    text-decoration: underline;
}
.socRes {
    position: relative;
    top: -22px;
}
.bgside {
    background: #eceff1 !IMPORTANT;
    border-radius: 7px;
}
.selectDrp {
    width: 235px;
    border: 1px solid #d1d1d1 !important;
    background: #fff !important;
    border-radius: 13px !important;
}
/*Soc box*/
.socBoxTimel {
    max-width: 756px;
    margin: 0 auto;
    padding: 5px !important;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

/*Laout header css*/
.footer-bx {
   height:60px;
    width: 100%;
    z-index: 11;
}

.box-shadow-sm {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .3) !important;
    height: 116px;
}

.header {
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.1);
    max-width: 100%;
    width: 100%
}

.userlbl {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 20px;
    margin-top: 15px;
}

/*Laout header css end*/
.eyePos {
    position: absolute;
    right: 23px;
    bottom: 12px;
}
/*side menu toggle start*/

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 385px;
    max-width: 385px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -391px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #fff;
    }





.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 20px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@@media (max-width: 768px) {
    #sidebar {
        margin-left: -389px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}


/*side menu toggle end*/

/*toggle position css*/
.togpos {
    position: absolute;
    left: 35px;
    top: 72px;
}

btn .btn-info {
    background: #0391b7 !important;
    border: #0391b7 !important;
}
btn .btn-info:hover {
    background: #0391b7 !important;
    border: #0391b7 !important;
}
    btn .btn-info:active {
        background: #0391b7 !important;
        border: #0391b7 !important;
    }
    btn .btn-info:hover {
        background: #0391b7 !important;
        border: #0391b7 !important;
    } 

/*multi select css and bulk upload page start */
.socHead {
    padding: 12px 0px;
    color: #fff;
    border-bottom: 4px solid #c1c1c1;
}

.greenBox {
    background: #deffec;
    height: auto;
    color: #000;
    /* min-height: 400px; */
}

.socBox {
    max-width: 756px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.n1 {
    color: red;
    font-size: 26px;
    font-weight: bold;
    background: #e9ecef;
    border-left: 4px solid #28a745;
    padding: 3px 18px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

 
/*Dropdown css*/

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    font-size: 12px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
    width: 100% !important;
    border: 1px solid #d1d1d1;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #444343;
    background: #fff;
    width: 100%;
    text-align: left;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    text-align: left;
}

.custom-file-label::after {
    background-color: #0492b8;
}

.file-upload-wrapper:hover:before {
    background: #3d8c63;
}

/*multi select css and bulk upload page end */



/*Soc Approvel page css start*/
 

.socHead {
    padding: 12px 0px;
    color: #fff;
    border-bottom: 4px solid #c1c1c1;
}

.greenBox {
    background: #deffec;
    height: auto;
    color: #000;
    /* min-height: 400px; */
}

.socBox {
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    background: #f7f7fc;
}

.n1 {
    color: red;
    font-size: 25px;
    font-weight: bold;
    background: #e9ecef;
    border-left: 3px solid #0391b7;
    padding: 0px 11px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

 
/*Dropdown css*/

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    font-size: 12px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
    width: 100% !important;
    border: 1px solid #d1d1d1;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #444343;
    background: #fff;
    width: 100%;
    text-align: left;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    text-align: left;
}



/*2nd page*/

.socHead {
    padding: 12px 0px;
    color: #fff;
    border-bottom: 4px solid #c1c1c1;
}

.greenBox {
    background: #deffec;
    height: auto;
    color: #000;
    /* min-height: 400px; */
}

.socBox {
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.n1 {
    color: red;
    font-size: 24px;
    font-weight: bold;
    background: #e9ecef;
    border-left: 3px solid #0492b8;
    padding: 3px 13px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.n1Section {
    margin-top: 18px;
    padding: 10px;
    /*background: #dcdcdc;*/
    margin-top: 18px;
}
.note-editor.note-frame {
    position: relative;
}
.letterFooter {
    position: absolute;
    bottom: 34px;
    right: 0;
}
.note-popover.popover {
   
    display: none;
}


/*Dropdown css*/

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    font-size: 12px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
    width: 100% !important;
    border: 1px solid #d1d1d1;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #444343;
    background: #fff;
    width: 100%;
    text-align: left;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    text-align: left;
}

.vewPdf {
    list-style: none;
    /*border: 1px solid #000;*/
    width: 94%;
    margin: 14px;
    padding: 11px;
    /*background: #deffe7;*/
}

/*Soc Approvel page css end*/


/*Soc timeline css start*/

ol.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ol.tabs li {
        background: #e0e0e0;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

        ol.tabs li.current {
            background: #0492b8;
            color: #fff;
        }

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

    .tab-content.current {
        display: inherit;
    }

.V_arrow {
    font-size: 17px;
    color: #797979;
    position: relative;
    top: 40%;
    left: -48%;
    font-weight: 500;
}

.arrow {
    position: absolute;
    font-size: 30px;
    top: -6px;
    left: 201px;
    color: #797979;
}

.Circle_headline {
    position: absolute;
    top: -30px;
    left: 32%;
}

.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    border-radius: 10px
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
}

    #progressbar li {
        list-style-type: none;
        font-size: 13px;
        width: 20%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar .step0:before {
        font-family: FontAwesome;
        content: "\f10c";
        color: #fff
    }

    #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 45px;
        display: block;
        font-size: 0px;
        background: #C5CAE9;
        border-radius: 50%;
        margin: auto;
        padding: 0px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 6px;
        background: #C5CAE9;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1
    }

    #progressbar li:last-child:after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: -50%
    }

    #progressbar li:nth-child(2):after,
    #progressbar li:nth-child(3):after,
    #progressbar li:nth-child(4):after {
        left: -50%
    }

    #progressbar li:first-child:after {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
        left: 50%
    }

    #progressbar li:last-child:after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }

    #progressbar li:first-child:after {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #651FFF
    }



.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px
}

.icon-content {
    padding-bottom: 20px
}



.green:before, .green:after {
    background: #00d600 !important;
}

.yellow:before {
    background: #ffc800 !important;
}

.grey:before {
    background: grey !important;
}

.right_vertical {
    background: #c5cae9;
    height: 166px;
    width: 6px;
    position: absolute;
    right: 9.5%;
    top: 116px;
    z-index: -2;
}

.left_vertical {
    background: #c5cae9;
    height: 166px;
    width: 6px;
    position: absolute;
    left: 9.5%;
    top: 320px;
    z-index: -2;
}

.blink_text:before {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*Soc timeline css end*/
/*Efile Page*/
.selectDrp {
    width: 235px;
    border: 1px solid #d1d1d1 !important;
    background: #fff !important;
    border-radius: 13px !important;
}

.note-editor .note-toolbar, .note-popover .popover-content {
    margin: 0;
    padding: 0 0 5px 5px;
    background: #66ffbfb5;
}

.note-editor.note-airframe .note-editing-area, .note-editor.note-frame .note-editing-area {
    overflow: hidden;
    background: #66ffbf4a;
}
 