

/*---------------------for I pad landscape-----------------*/
    @media only screen and ( max-width: 1024px) and ( min-width: 768px) and (orientation: landscape) {

     
    }


/*---------------------for I pad portrait-----------------*/
    @media only screen and ( max-width: 1024px) and ( min-width: 768px) and (orientation: portrait) {

     
    }


/*---------------------for mobile portrait-----------------*/
    @media only screen and ( max-width: 767px) and (orientation: portrait) {

        .left_logo img{
            width:150px;
        }

        .right_logo img{
            width:100px;
        }
        .left_logo {
            min-width: 8rem !important;
        }

        .center_caption {
            display:none!important;
        }

        .loginBox {
            padding: 5px 15px 90px 15px !important;
        }

    
    }


/*---------------------for mobile landscape-----------------*/
    @media only screen and ( max-width: 767px) and (orientation: landscape) {
        .center_caption {
            display: none !important;
        }
    }

  