
@{
    ViewBag.Title = "ContractReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
<link href="~/assets/css/toastr.css" rel="stylesheet" />
<style>
    .ui-datepicker {
        width: 18.8em !important;
    }

    .btn-area {
        position: absolute;
        bottom: 18px;
    }

    .btn-delete {
        position: absolute;
        bottom: 18px;
        LEFT: 14%;
    }

    .col-form-label {
        justify-content: start;
        display: flex;
    }

        .col-form-label span {
            margin-left: 5px;
        }
</style>
<div class="mt-3 container-fluid">
    <div class="_sb">

        <div class="card flex-fill w-100 p-3">
            <div class="card-header">
                <h5>Contract Report</h5>
            </div>
            <div class="form-group row">


                <div class="col-md-4 col-sm-4 col-lg-4">
                    <label for=" " class="col-form-label">Services</label>
                    <div class="form-group m-0">
                        <select class="form-select form-control Services" name="Services" id="Services">
                            <option value="0">---Select Service---</option>
                            <option value="Army">Army</option>
                            <option value="Navy">Navy</option>
                            <option value="AirForce">AirForce</option>
                        </select>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<div class="_sb" id="ContractList" style="display: none">

    @*@{
            Html.RenderPartial("/Contract/GetContractBaseOnServices?Service=","Army");
        }*@
</div>
@*<div class="_sb" id="SumOfStagePayment" style="display: none">

        @{
            Html.RenderPartial("_ContractMasterPartial");
        }
    </div>*@

<script src="~/assets/js/jquery-3.6.0.min.js" nonce="r@nd0m"></script>
<script src="~/assets/js/jquery-ui.js" nonce="r@nd0m"></script>
<script src="~/assets/js/toastr.js" nonce="r@nd0m"></script>

<script nonce="r@nd0m">
    $(document).ready(function () {
        $('#Services').change(function () {
            debugger
            var ser = $('#Services option:selected').val();
            //window.location.href = "/Contract/GetContractBaseOnServices?Service=" + ser;

          

            @*$('#ContractList').load('@Url.Action("GetContractBaseOnServices", "Contract")?Service=' + ser);*@

         
            $.ajax({
                beforeSend: function () {
                    $('.preloader').show();
                },
                url: "/Contract/GetContractBaseOnServices?Service=" + ser,
                //contentType: 'application/html; charset=utf-8',
                type: 'GET',
                //dataType: 'html',
                success: function (response) {
                    $('.preloader').hide();
                    $('#ContractList').css("display", "block");
                    $('#ContractList').html(response);

                },
                failure: function (response) {
                    $('.preloader').hide();
                    toastr.error(response.responseText);
                },
                error: function (response) {
                    $('.preloader').hide();
                    toastr.error(response.responseText);
                }
            })


        });



    });
</script>