
@{
    ViewBag.Title = "SubmitMeetingComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:70px;" class="text-center"><span class="text-danger">Thank you!</span><br/>Comments submitted Successfully..!!</h2>

